<!doctype html>
<html>

<head>
    {{template "header" .}}
    <link rel="stylesheet" href="/static/css/FFTechStyle/blackboardController.css" type="text/css">

    <script type="text/javascript" src="/static/js/features/blackboardController.js"></script>
    <script type="text/javascript" src="/static/js/features/blackboardController_filter.js"></script>
    <script type="text/javascript" src="/static/js/features/blackboardController_newIssue.js"></script>
    <script type="text/javascript" src="/static/js/features/blackboardController_newInitiative.js"></script>
    <script type="text/javascript" src="/static/js/features/blackboardController_newMilestone.js"></script>

    <script type="text/javascript" src="/static/js/common/utils.js"></script>
    <script type="text/javascript" src="/static/js/common/dataPickerTemplate.js"></script>

    <link href="/static/bootstrap-datepicker-1.6.4/css/bootstrap-datepicker.min.css" type="text/css" rel="stylesheet">
    <script src="/static/bootstrap-datepicker-1.6.4/js/bootstrap-datepicker.min.js"></script>

</head>

<body>

    <div class="navbar navbar-default">
        <div class="container">
            {{template "navbar" .}}
        </div>
    </div>

    <div class="container">
        <div>
            <h1>Hi {{.ProjectTitle}} <small> world</small></h1>
        </div>

        <!-- 过滤器，可以选择 initiative, version, target 等，从而决定下面的 issue list 内容 -->
        <div class="card clearfix">

            <div class="span span_full clearfix">
                <h4>Choose filters:</h4>
            </div>

            <div class="span span_4of6 clearfix">
                {{- range $eachFilter := .allFilters}}
                <div style="float:left;width:90%;">{{template "dataPickerTemplate" $eachFilter}}</div>
                <div style="float:left; margin: 4px 0px 4px auto; width: 40px; height: 40px; line-height: 1.425;">
                    {{template "modalPopupTemplate" $eachFilter}}
                </div>
                {{- end}}
            </div>
        </div>

        <!-- 分割线 -->
        <div style="height:1px">
            <hr class="seperate-line" width="80%" color=#987cb9 SIZE=3>
        </div>

        <!-- issue list -->
        <div id="issue-table" class="card span span_full">
            
            {{template "dataIssueTableTemplate" .}}
        </div>

    </div>

    <!-- modal popup for  -->
    {{template "bbNewInitiativeTemplate" .modelPropertySection}}
    {{template "bbNewIssueTemplate" .issueHTMLValue}}
    {{template "bbNewMilestoneTemplate" .newVersionField}}

</body>

{{template "bootstrap_end"}}

</html>