<!doctype html>
<html>

<head>
    {{template "header" .}}
</head>

<body>

    <div class="navbar navbar-default">
        <div class="container">
            {{template "navbar" .}}
        </div>
    </div>

    <div class="container">
        <object data="http://localhost:8080/weatherDemo" width="600" height="400">
            <embed src="http://localhost:8080/weatherDemo" type="text/html" width="800px" height="600px">
        </object>
    </div>

</body>

{{template "bootstrap_end"}}

</html>