<!doctype html>
<html>

<head>
    {{template "header" .}}
    <!-- <link rel="stylesheet" href="/static/editor-md/css/editormd.min.css">
    <script type="text/javascript" src="/static/editor-md/editormd.min.js"></script>
    <script type="text/javascript">
        var testEditor;

        $(function () {
            testEditor = editormd("editormd", {
                width: "90%",
                height: 640,
                syncScrolling: "single",
                path: "/static/editor-md/lib/",
            });
            testEditor.unwatch();
            testEditor.previewing();
        });
    </script> -->

    <link rel="stylesheet" href="/static/simplemde/dist/simplemde.min.css">
    <script src="/static/simplemde/dist/simplemde.min.js"></script>
</head>

<body>

    <div class="navbar navbar-default">
        <div class="container">
            {{template "navbar" .}}
        </div>
    </div>


</body>

{{template "bootstrap_end"}}

</html>