<!doctype html>
<html>

<head>
    {{template "header" .}}
    <link rel="stylesheet" href="/static/css/FFTechStyle/issueDetail.css">
    <link rel="stylesheet" href="/static/css/FFTechStyle/issueLevel.css">
    <script type="text/javascript" src="/static/js/avatar/avatar.js"></script>
    <script type="text/javascript" src="/static/js/features/issue.js"></script>
    <script type="text/javascript" src="/static/js/features/issueDetail.js"></script>
</head>

<body>

    <div class="navbar navbar-default">
        <div class="container">
            {{template "navbar" .}}
        </div>
    </div>

    {{$issue := .issueData}}

    <div class="container">
        <div>
            <label style="font-size:3rem">Issue: </label><span> </span><label style="font-size:2.25rem"><a href="#">#{{$issue.ID}}
                    {{$issue.Title}}</a></label>
        </div>

        <div id="issue-level-band" class="issue-level-{{$issue.Priority}}" style="width:100%;height:0.5em;margin-top:1em;margin-bottom:0.5em;"></div>

        <form id="frmIssueUpdate" method="POST" action="#" onsubmit="return false">
            <!-- <div class="form-group"> -->
            {{range .issueHTMLValue}}
            {{template "dataPickerTemplate" .}}
            {{end}}
            <!-- </div> -->
        </form>

        {{template "seperate-line"}}

        <div>
            <label class="left" style="font-size:2rem;width:100%">Description:</label>
            <p style="margin-left:3em;width:100%;max-height:20em;" class="scroll">{{$issue.Description}}</p>
        </div>

        {{template "seperate-line"}}

        <form id="frmIssueDetail" method="POST" action="#" onsubmit="return false">

            <!-- 提交区 -->
            <label style="font-size:2rem">New Comment:</label>
            <div id="issue_log_new" class="form-group" style="margin-left: 3em;">
                <textarea name="issue_comment" id="issue_comment" class="form-control" cols="30" rows="10" placeholder="Write new comment here."></textarea>
                <input style="margin-top:1em;" type="submit" class="btn btn-default" value="Submit" onclick="issueDetailSubmitNewLog('{{$issue.ID}}')">
            </div>

        </form>

        {{template "seperate-line"}}

        <!-- 历史记录区 -->
        <div id="issue_log_history">
            <label style="font-size:2rem">History:</label>

            <table class="table-body-log-history">
                <tbody>
                    <tr>
                        <th style="width:30%;"></th>
                        <th style="width:70%;"></th>
                    </tr>

                    <!-- for issue log history loop -->
                    {{range $index, $log := .issueLogHistory}}
                    <!-- avatar canvas' local variable -->
                    {{$avaterName := printf "user_avatar_%d" $log.CreatorID}}

                    <tr>
                        <td class="align-top log-brief-secion">
                            <div class="log-user-icon">
                                <canvas id="{{$avaterName}}" name="{{$avaterName}}" class="log-avatar" width="48px" height="48px"></canvas>
                            </div>
                            <div class="log-user-info">
                                <div>
                                    <p style="font-size:1.75rem;"><a href="/person/{{$log.CreatorID}}">{{$log.CreatorName}}</a></p>
                                </div>
                                <div>
                                    <p style="font-size:1.5rem;">{{$log.TimeDisplay}}</p>
                                </div>
                            </div>
                        </td>
                        <td class="log-detail-section align-top">
                            {{if eq $log.Type 1}}
                            <p>Issue status {{$log.StatusTitle}} had been changed from {{BugStatusWithType $log.PrvStatus}} into {{BugStatusWithType $log.NewStatus}}</p>
                            {{else}}
                            <p>{{$log.Content}}</p>
                            {{end}}

                            <script type="text/javascript">
                                $('#{{$avaterName}}').ready(function () {
                                    appendAvatarCanvasCollection(
                                        "{{$avaterName}}",
                                        "{{$log.CreatorName}}");
                                })
                            </script>
                        </td>
                    </tr>
                    <tr class="spacer">
                        <td colspan="2"></td>
                    </tr>

                    {{end}}
                    <!-- end for issueLogHistory loop -->

                </tbody>
            </table>

        </div>

        <script type="text/javascript">
            $('#issue_log_history').ready(function () {
                refreshAllAvatar();
            })
        </script>
    </div>
    </div>

</body>

{{template "bootstrap_end"}}

</html>