<!doctype html>
<html>
    <head>
        {{template "header"}}
        <link rel="stylesheet" href="/static/css/FFTechStyle/issueTable.css" type="text/css">
    </head>
<body>

    <div class="navbar navbar-default">
        <div class="container">
            {{template "navbar" .}}
        </div>
    </div>

    <div class="container">
        <div>
            <h1>Hi{{.ProjectTitle}} <small> world</small></h1>
        </div>

        <a href="/issue">New issue</a>

        <!-- 分割线 -->
        <div style="height:1px">
            <hr class="seperate-line" width="80%" color=#987cb9 SIZE=3>
        </div>

        <table class="table table-hover table-condensed">
            <thead>
                <tr>
                    <th></th>
                    <th>#</th>
                    <th style="width: 30%">Title</th>
                    <th>Status</th>
                    <th>Priority</th>
                    <th>Version</th>
                    <th>Creator</th>
                    <th>Assignor</th>
                    <th>Create Date</th>
                </tr>
            </thead>
            <script type="text/javascript">
                function didIssueClicked(params) {
                    window.location.href = "/issue_detail?id=" + params
                }
            </script>
            <tbody>
                {{template "issueListTableRow" .}}
            </tbody>
        </table>
    </div>
</body>

{{template "bootstrap_end"}}

</html>