<!doctype html>
<html>
    <head>
        {{template "header"}}
        <script type="text/javascript" src="/static/js/features/issue.js"></script>

    </head>
<body>

    <div class="navbar navbar-default">
        <div class="container">
            {{template "navbar" .}}
        </div>
    </div>

    <div class="container">
        <h1>New Issue:</h1>
    </div>

    <div class="container">
        <form role="form" method="post" action="/issue/create">
            <div class="form-group">
                <label>Title: *</label>
                <input id="Title" name="Title" type="text" class="form-control" placeholder="Issue Title">
            </div>

            <div class="form-group">
                <label>Description: *</label>
                <textarea id="Description" name="Description" class="form-control" placeholder="Please input the description here." rows="10"></textarea>
            </div>

            <!-- bug的各种状态设置 -->
            {{range $idx, $issueTpl := .issueHTMLValue}}
                {{$ctrlType := ControllerTypeOfTemplateData $issueTpl}}
                {{if eq $ctrlType 3}}
                <h4>we get {{$ctrlType}}</h4>
                {{else if eq $ctrlType 2}}
                {{template "dataPickerTemplate" $issueTpl}}
                {{else if eq $ctrlType 1}}
                <h4>we get {{$ctrlType}}</h4>
                {{end}}
            {{end}}

            <!-- 分割线 -->
            <div class="form-group col-xs-12">
                <hr class="seperate-line" width="80%" color=#987cb9 SIZE=3>
            </div>

            <!-- 提交按钮 -->
            <div class="form-group col-xs-12">
                <input class="btn btn-default" type="submit" value="Submit" onclick="return newIssueCheckInputContent();">
            </div>

        </form>
    </div>

</body>

{{template "bootstrap_end"}}

</html>