<!doctype html>
<html>

<head>
    {{template "header" .}}
    <link rel="stylesheet" href="/static/css/FFTechStyle/issueDetail.css">
</head>

<body>

    <div class="navbar navbar-default">
        <div class="container">
            {{template "navbar" .}}
        </div>
    </div>

    <div class="container wrapper">
        <div class="one">
            <label class="right" style="width:100%">Title:</label>
        </div>
        <div class="two">
            <input type="text" readonly="readonly" value="hello world">
        </div>
        <div class="three">
            <label class="right" style="width:100%">Description:</label>
        </div>
        <div class="four">
            <textarea cols="30" rows="10" readonly="readonly">hello world</textarea>
        </div>
    </div>

    <div class="container">

        <div>
            <label class="right section-title">hello:</label>
            <button class="btn btn-normal">world
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </div>

        <div>
            <label class="right section-title">hello:</label>
            <button class="btn btn-normal">world
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </div>

        <div>
            <label class="right section-title">hello:</label>
            <button class="btn btn-normal">world
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </div>
    </div>
    <div class="container">Six</div>


</body>

{{template "bootstrap_end"}}

</html>