<!doctype html>
<html>

<head>
    {{template "header" .}}

    <!-- markdown editor -->
    <link rel="stylesheet" type="text/css" href="/static/simplemde/dist/simplemde.min.css">
    <script type="text/javascript" src="/static/simplemde/dist/simplemde.min.js"></script>

    <link rel="stylesheet" href="/static/css/FFTechStyle/issueDetail.css">
    <link rel="stylesheet" href="/static/css/FFTechStyle/issueLevel.css">
    <script type="text/javascript" src="/static/js/avatar/avatar.js"></script>
    <script type="text/javascript" src="/static/js/features/issue.js"></script>
    <script type="text/javascript" src="/static/js/features/issueDetail.js"></script>

</head>

<body>

    <div class="navbar navbar-default">
        <div class="container">
            {{template "navbar" .}}
        </div>
    </div>

    {{$issue := .issueData}}

    <script>
        window.onload=function(){
            // sorry about that, description should be refreshed after the whole page content were loadded.
            refreshAllMarkdown();
        }
    </script>

    <div class="container">
        <label style="font-size:3rem">Issue: </label><label style="font-size:2.25rem"><a href="#">#{{$issue.ID}} {{$issue.Title}}</a></label>
    </div>

    <div class="container alert-box alert-lvl-{{$issue.Priority}}">
        <div class="issue issue-detail" id="issue-detail-{{$issue.ID}}">{{$issue.Description}}</div>
        <script>
            $('#issue-detail-{{$issue.ID}}').ready(function() {
                appendMarkdownCollection("issue-detail-{{$issue.ID}}", "{{$issue.Description}}");
            });
        </script>
    </div>

    <div class="container clearfix card">
        <form id="frmIssueUpdate" method="POST" action="#" onsubmit="return false">
            <!-- <div class="form-group"> -->
            {{range .issueHTMLValue}}
            {{template "dataPickerTemplate" .}}
            {{end}}
            <!-- </div> -->
        </form>
    </div>

    <div class="container">

        <form id="frmIssueDetail" method="POST" action="#" onsubmit="return false">

            <!-- 提交区 -->
            <label style="font-size:2rem">New Comment:</label>
            <div id="issue_log_new" class="form-group" style="margin-left: 3em;">
                <textarea name="issue_comment" id="issue_comment" class="form-control" cols="30" rows="10" placeholder="Write new comment here."></textarea>
                <input style="margin-top:1em;" type="submit" class="btn btn-default" value="Submit" onclick="issueDetailSubmitNewLog('{{$issue.ID}}')">
            </div>

            <script>
                $('#issue_comment').ready(function () {
                    initMarkdownEditorInstance();
                });
            </script>

        </form>

    </div>

    <div class="container layout-flex">
        <div class="padding"><label>Insert attach image:</label></div>
        <form class="layout-flex padding" id="form-insert-attach" method="post" enctype="multipart/form-data">
            <input id="attach-image" name="attach-image" type="file" />
            <input type="submit" onclick="eventUploadAttachImage('{{$issue.ID}}')" value="Upload & Insert" />
        </form>
    </div>


    <div class="container">

        <div id="issue_log_history" class="clearfix card">
            <h2>History:</h2>

            <!-- for issue log history loop -->
            {{range .issueLogHistory}}
            
            {{template "issueLogItem" .}}

            {{end}}

        </div>

        <script type="text/javascript">
            $('#issue_log_history').ready(function () {
                refreshAllAvatar();
            });
        </script>

    </div>

</body>

{{template "bootstrap_end"}}

</html>