<!doctype html>
<html>
    <head>
        {{template "header"}}
    </head>
<body>

    <div class="navbar navbar-default">
        <div class="container">
            {{template "navbar" .}}
        </div>
    </div>

    <div class="container" style="width:30em">
        <form method="POST" action="/login/signin">
            <div class="form-group">
                <label>Account</label>
                <input type="text" name="email" class="form-control" placeholder="Email" id="email">
            </div>
            
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="pwd" class="form-control" placeholder="Password" id="pwd">
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-default" onclick="return checkInput();" value="Sign in">
                <script type="text/javascript" >
                    function checkInput() 
                    {
                        if (checkInputLength('email', 1, 1024) == false) {

                            alert('Invalid account')
                            return false;
                        }

                        if (false == checkWithRegex('email', "[\\w!#$%&'*+/=?^_`{|}~-]+(?:\\.[\\w!#$%&'*+/=?^_`{|}~-]+)*@(?:[\\w](?:[\\w-]*[\\w])?\\.)+[\\w](?:[\\w-]*[\\w])?")) {

                            alert('Invalid email account format')
                            return false
                        }

                        if (checkInputLength('pwd', 1, 1024) == false) {

                            alert('Invalid password')
                            return false;
                        }
                    }                    
                </script>
            </div>
        </form>
    </div>

</body>

{{template "bootstrap_end"}}

</html>