<!doctype html>
<html>
{{template "header"}}

<body>

    <div class="navbar navbar-default">
        <div class="container">
            {{template "navbar" .}}
        </div>
    </div>

    <div class="container" style="width:25em">
        <form>
            <div class="form-group">
                <label>Account</label>
                <input type="text" id="uname" class="form-control" placeholder="Email" name="uname">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" id="pwd" class="form-control" placeholder="Password" name="pwd">
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-default" onclick="signIn()">Sign In</button>
                <button type="button" class="btn btn-default" onclick="signUp()">Sign Up</button>

                <script type="text/javascript">
                    function checkInput() {
                        var uname = document.getElementById("uname")
                        if (uname.value.length == 0) {
                            alert("Invalid account.")
                            return false;
                        }

                        var pwd = document.getElementById("pwd")
                        if (pwd.value.length == 0) {
                            alert("Invalid password.")
                            return false;
                        }
                    }

                    function signIn() {    
                        var uname = document.getElementById("uname").value
                        var pwd = document.getElementById("pwd").value

                        $.post("/login/signin", {"uname": uname, "pwd": pwd})
                    }

                    function signUp() {
                        var uname = document.getElementById("uname").value
                        var pwd = document.getElementById("pwd").value

                        $.post("/login/signup", {"uname": uname, "pwd": pwd})
                    }
                </script>
            </div>
        </form>
    </div>

</body>

{{template "bootstrap_end"}}

</html>