<!doctype html>
<html>
    <head>
        {{template "header"}}
        <script type="text/javascript" src="/static/js/features/newIssue.js"></script>

        <script type="text/javascript">
            window.onload = function() {
                document.getElementById("optionGroup").innerHTML = "{{.test}}"
            }
        </script>

    </head>
<body>

    <div class="navbar navbar-default">
        <div class="container">
            {{template "navbar" .}}
        </div>
    </div>

    <div class="container">
        <form action="/issue/new" method="post">
            <div class="form-group">
                <label>Title:</label>
                <input id="issueTitle" name="issueTitle" type="text" class="form-control" placeholder="Issue Title">
            </div>

            <div class="form-group">
                <label>Description:</label>
                <textarea id="issueContent" name="issueContent" class="form-control" placeholder="Please input the description here." rows="10"></textarea>
            </div>

            <div id="optionGroup" class="form-group">

            </div>

            <!-- <div class="form-group">
                <div class="row">
                    
                    {{range $key, $value := .issueInitValue}}
                    <div class="col-md-4">
                        <label class="right label-ff-standard">{{$key}} </label>    
                        {{with $value}}
                            <div class="btn-group">
                                <button type="button" class="btn btn-normal">{{.Collection}}</button>
                                <p>{{.Title}} {{.DefaultValue}}</p>
                                {{range $index, $elem := .Collection}}
                                    <p>{{$index}} -> {{$elem}}</p>
                                {{end}}
                                <br>
                            
                            </div>
                        {{end}}
                        
                    </div>
                    {{end}}
                    
                </div>
            </div> -->
<!--
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label class="right label-ff-standard">Status: </label>
                        <div class="btn-group">
                            <button type="button" class="btn btn-normal">Action</button>
                            <button type="button" class="btn btn-normal dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label class="right label-ff-standard">Priority: </label>
                        <div class="btn-group">
                            <button type="button" class="btn btn-normal">Action</button>
                            <button type="button" class="btn btn-normal dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label class="right label-ff-standard">Reproducibility: </label>
                        
                        <div class="btn-group">
                            <button type="button" class="btn btn-normal">Action</button>
                            <button type="button" class="btn btn-normal dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label class="right label-ff-standard">Creator:</label>
                        
                        <div class="btn-group">
                            <button type="button" class="btn btn-normal">Action</button>
                            <button type="button" class="btn btn-normal dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label class="right label-ff-standard">Assignor: </label>
                        
                        <div class="btn-group">
                            <button type="button" class="btn btn-normal">Action</button>
                            <button type="button" class="btn btn-normal dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
-->
            <!-- 分割线 -->
            <hr class="seperate-line" width="80%" color=#987cb9 SIZE=3>

            <!-- 提交按钮 -->
            <div class="form-group">
                <input class="btn btn-default" type="submit" value="Submit" onclick="return newIssueCheckInputContent();">
            </div>

        </form>
    </div>


</body>

{{template "bootstrap_end"}}

</html>