<!doctype html>
<html>

{{template "header"}}

<body>

    <div class="navbar navbar-default">
        <div class="container">
            {{template "navbar" .}}
        </div>
    </div>

    <div class="container">
        <form action="/issue/new" method="post">
            <div class="form-group">
                <label>Title</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="Issue Title">
            </div>

            <div class="form-group">
                <label>Description</label>
                <input type="text" class="form-control" name="description" id="description">
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label for="">Status: </label>
                        <!-- Split button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-normal">Action</button>
                            <button type="button" class="btn btn-normal dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label for="">Priority: </label>
                        <!-- Split button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-normal">Action</button>
                            <button type="button" class="btn btn-normal dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label for="">Reproducibility: </label>
                        <!-- Split button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-normal">Action</button>
                            <button type="button" class="btn btn-normal dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label>Creator:</label>
                        <!-- Split button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-normal">Action</button>
                            <button type="button" class="btn btn-normal dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label for="">Assignor: </label>
                        <!-- Split button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-normal">Action</button>
                            <button type="button" class="btn btn-normal dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

        </form>
    </div>


</body>

{{template "bootstrap_end"}}

</html>