<!doctype html>
<html>

{{template "header"}}

<body>

    <div class="navbar navbar-default">
        <div class="container">
            {{template "navbar" .}}
        </div>
    </div>

    <div class="container">
        <form action="/issue/new" method="post">
            <div class="form-group">
                <label>Title:</label>
                <input type="text" class="form-control" name="title" id="title" placeholder="Issue Title">
            </div>

            <div class="form-group">
                <label>Description:</label>
                <textarea id="description" name="description" class="form-control" placeholder="Please input the description here." rows="10"></textarea>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label class="right label-ff-standard">Status: </label>
                        <!-- Split button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-normal">Action</button>
                            <button type="button" class="btn btn-normal dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label class="right label-ff-standard">Priority: </label>
                        <!-- Split button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-normal">Action</button>
                            <button type="button" class="btn btn-normal dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label class="right label-ff-standard">Reproducibility: </label>
                        <!-- Split button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-normal">Action</button>
                            <button type="button" class="btn btn-normal dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-4">
                        <label class="right label-ff-standard">Creator:</label>
                        <!-- Split button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-normal">Action</button>
                            <button type="button" class="btn btn-normal dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <label class="right label-ff-standard">Assignor: </label>
                        <!-- Split button -->
                        <div class="btn-group">
                            <button type="button" class="btn btn-normal">Action</button>
                            <button type="button" class="btn btn-normal dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <span class="caret"></span>
                                <span class="sr-only">Toggle Dropdown</span>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="#">Action</a></li>
                                <li><a href="#">Another action</a></li>
                                <li><a href="#">Something else here</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Separated link</a></li>
                            </ul>
                        </div>
                    </div>
                </div>

            </div>

            <!-- 分割线 -->
            <hr class="seperate-line" width="80%" color=#987cb9 SIZE=3>

            <!-- 提交按钮 -->
            <div class="form-group">
                <input class="btn btn-default" type="submit" value="Submit" onclick="return submitNewBug();">
                <script async src="/static/js/qatracking/bugUtils.js"></script>
            </div>

        </form>
    </div>


</body>

{{template "bootstrap_end"}}

</html>