<!doctype html>
<html>
    <head>
        {{template "header" .}}
        <script src="/static/js/features/register.js"></script>
    </head>
<body>

    <div class="navbar navbar-default">
        {{template "navbar" .}}
    </div>

    <div class="container" style="width:30em">
        <form id="frmRegister" method="POST" action="#" onsubmit="return false">
            <div class="form-group">
                <label>Account: *</label>
                <input type="text" name="email" class="form-control" placeholder="Email" id="email">
            </div>

            <div class="form-group">
                <label>Nick Name: </label>
                <input type="text" name="nickname" class="form-control" placeholder="Nick name">
            </div>

            <div class="form-group">
                <label>Password:</label>
                <input type="password" name="pwd" class="form-control" placeholder="Password" id="pwd">
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-default" onclick="regiseter()" value="Register">
            </div>
        </form>
    </div>

</body>

{{template "bootstrap_end"}}

</html>