<!doctype html>
<html>

<head>
    {{template "header" .}}
    <link href="/static/css/weather/weatherAnim.css" type="text/css" rel="stylesheet">

    <script type="text/javascript">
        function weatherClick() {
            $.ajax({
                dataType: 'json',
                url: '/weather',
                method: 'post',
                success: function(result) {
                    if (result.Code == 302 || result.Code == 200) {
                        window.location.href = result.URL
                    }
                    alert('success:' + result);
                },
                error: function(result) {
                    alert('error:' + result);
                }
            })
        }
    </script>
</head>

<body>

    <div class="container">
        <h1>Animated Weather Icons</h1>

        <div class="icon sun-shower">
            <div class="cloud"></div>
            <div class="sun">
                <div class="rays"></div>
            </div>
            <div class="rain"></div>
        </div>

        <div class="icon thunder-storm">
            <div class="cloud"></div>
            <div class="lightning">
                <div class="bolt"></div>
                <div class="bolt"></div>
            </div>
        </div>

        <div class="icon cloudy">
            <div class="cloud"></div>
            <div class="cloud"></div>
        </div>

        <div class="icon flurries">
            <div class="cloud"></div>
            <div class="snow">
                <div class="flake"></div>
                <div class="flake"></div>
            </div>
        </div>

        <div class="icon sunny">
            <div class="sun">
                <div class="rays"></div>
            </div>
        </div>

        <div class="icon rainy">
            <div class="cloud"></div>
            <div class="rain"></div>
        </div>

        <p>Based on <a href="https://dribbble.com/shots/2097042-Widget-Weather" target="_blank">Dribbble</a> by kylor</p>
    </div>

    <form action="/weather" method="post">
        <input type="button" value="click me" onclick="weatherClick()">
    </form>
    

</body>

{{template "bootstrap_end"}}

</html>