
.label-ff-standard {
    min-width: 80px
}

.center {
    text-align: center
}

.middle {
    text-align: middle
}

.right {
    text-align: right
}

.seperate-line {
    FILTER: alpha(opacity=100,finishopacity=0,style=3)
}