table {
    width: 100%;
    border-spacing: 0;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: #5E6B7A;
    font-size: 1.25rem;
    font-family: Arial, Helvetica, sans-serif;
}

tr {
    font-weight: normal;
    font-size: 1.25rem;
}

.table tr:hover td {
    filter: invert(70%);
}

.tr-title {
    font-weight: lighter;
    font-size: 1.50rem;
}

.issue-level-0 {
    color: lightgray;
    background-color: black;
}

.issue-level-1 {
    color: lightgray;
    background-color: red;
}

.issue-level-2 {
    color: lightgray;
    background-color: orangered;
}

.issue-level-3 {
    background-color: orange;
}

.issue-level-4 {
    background-color: yellow;
}

.issue-level-5 {
    background-color: yellowgreen;
}

.issue-level-6 {
    color: white;
    background-color: green;
}
