table,
tr,
th,
td {
	border: 0px;
}

table > tbody > tr {
    border-radius: 6px;
}

table > tbody > tr > td,
table > tbody > tr > th,
table > tfoot > tr > td,
table > tfoot > tr > th,
table > thead > tr > td,
table > thead > tr > th {
    padding-bottom: 6px;
    padding-inline-start: 6px;
    padding-inline-end: 6px;
    padding-block-start: 6px;
    padding-block-end: 6px;
}

th.log-thead {
	text-align: left;
	width: 300px;
}

th.log-tdetail {
	text-align: left; 
	width: 75%;
}

div.issue {
    border-width: 1px;
    border-color: black;
}

div.frame {
    border-color: #e8e8e8;
    border-width: 0.5px;
    border-style: solid;
    border-radius: 4px;
}

.padding {
    padding: 4px;
}

.layout-flex {
    display: flex;
}

.layout-flex-left {
    float: left;
}

.layout-flex-right {
    float: right;
}

.table {
    border-top: 1px solid #e5e5e5;
    margin-bottom: 0px;
    border-width: 0px;
}

.table-body-log-history {
    margin-left: 3em;
    width: 97%;
}

.log-brief-secion {
    background-color: #edf3f4;
}

.log-detail-section {
    background-color: #e8e8e8;
    width: 100%;
}

.align-top {
    vertical-align: top;
}

.log-user-icon {
	float: left;
    background-color: transparent;
}

.log-avatar {
	margin: 4px 4px 4px 4px;
    border-radius: 48px;
    width: 48px;
    height: 48px;
}

.log-user-info {
	margin: 4px 4px 4px 4px;
	float: left;
}

.log-user-info > div > p {
	margin: 0px 4px 4px 4px;
}


