table,
tr,
th,
td {
	border: 0px;
}

table > tbody > tr > td,
table > tbody > tr > th,
table > tfoot > tr > td,
table > tfoot > tr > th,
table > thead > tr > td,
table > thead > tr > th {
    padding: 5px;
}

th.log-thead {
	text-align: left;
	width: 300px;
}

th.log-tdetail {
	text-align: left; 
	width: 75%;
}

.table {
    border-top: 1px solid #e5e5e5;
    margin-bottom: 0px;
    border-width: 0px;
}

.table-body-log-history {
    margin-left: 3em;
    width: 100%;
}

.log-brief-secion {
    background-color: #edf3f4;
}

.log-detail-section {
    background-color: #e8e8e8;
}

.align-top {
    vertical-align: top;
}

.log-user-icon {
	float: left;
    background-color: transparent;
}

.log-avatar {
	margin: 4px 4px 4px 4px;
    border-radius: 48px;
    width: 48px;
    height: 48px;
    
}

.log-user-info {
	margin: 4px 4px 4px 4px;
	float: left;
}
.log-user-info > div > p {
	margin: 0px 4px 4px 4px;
}


